<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*)
		FROM MEMBER
	</entry>

	<entry key="selectList">
		SELECT *
		FROM (
		    SELECT ROWNUM RNUM , A.*
		    FROM (
			    SELECT 
			        USER_ID,
			        USER_NAME,
			       	USER_NICK,
			       	USER_PHONE,
			        USER_ENROLL,
			        USER_MODIFY,
			        USER_TYPE,
			        MANAGER_TYPE
			    FROM MEMBER M) A
		     ) 
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="adminUpdateMember">
		UPDATE MEMBER
		SET USER_NAME = ? ,
		    USER_NICK = ? ,
		    USER_PHONE = ? ,
		    MODIFY_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>
	<entry key="selectUpdateMember">
		SELECT *
		  FROM MEMBER
		 WHERE USER_ID = ?
	</entry>




















</properties>
